<!-- MostActiveTimes -->

<div class="graphContainer"><canvas id="mostActiveTimesGraph" width="960" height="250"><span class="error">[A modern browser is required to view the charts.]</span></canvas></div>

<p>This is a sum of all the spoken lines grouped by hour.</p>
<p>The graph should give you some kind of an idea of when people usually talk, and when would be a good time to join.</p>

<script type="text/javascript">
// Wait until the document has finished loading
$(document).ready(function() {
	try {



	} catch( e ) {}
});


</script>

<!-- /MostActiveTimes -->