<!-- MostActiveNicks -->

<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Nick</th>
			<th>Lines</th>
			<th>When</th>
			<th>Words</th>
			<th>Words per line</th>
			<th>Chars per line</th>
			<th>Last seen</th>
			<th>Random quote</th>
		</tr>

	</thead>
	<tbody id="<%= widget.getId() %>"></tbody>

</table>

<p>The table should give you an idea of who are the active people, and maybe a bit of insight into their personalities via the random quote.</p>

<script type="text/javascript">
// Wait until the document has finished loading
$(document).ready(function() {
	try {

		//$.getJSON("data.json", function(data) { $("head").trigger("nircla", data); });

		$("head").on("nircla", function (_, data) {
			if (typeof data !== "object") return;
			$("tbody#<%= widget.getId() %>").empty();
			$.each(data["MostActiveNicks"], function(i, item) {
				$tr = $("<tr>").addClass(i%2==0?'odd':'even').append(
					$("<td>").addClass("pos").text(i+1),
					$("<td>").text(item.nick),
					$("<td>").text(item.lines),
					$("<td>").text(item.when),
					$("<td>").text(item.words),
					$("<td>").text(item.wordsPerLine),
					$("<td>").text(item.charsPerLine),
					$("<td>").addClass("lastSeen").text(item.lastSeen),
					$("<td>").addClass("quote").text(item.randomQuote)
				).appendTo("tbody#<%= widget.getId() %>");
			});
		});

	} catch( e ) {}
});

</script>

<!-- /MostActiveNicks -->