<section id="bigNumbers">
	<a name="bigNumbers"></a>
	<div class="bar"><h2>Big numbers</h2></div>

	<table>
		<tbody>
			<% for( var i=0, count=itemList.length; i < count; ++i ) { %>

				<tr class="<%= i%2===0?'odd':'even' %>">
					<td>
						<%= itemList[i].big %><br />
						<span class="small"><%= itemList[i].small %></span>
					</td>
				</tr>

			<% } %>

		</tbody>

	</table>

	<p>The list contains other interesting numbers, that might or might not give you more insight into the channel and it's active users.</p>

</section>